html,body {
  height: 100%;
  margin: 0;
  background: #1a1a1a;
  color: #ddd;
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.control-panel{
  width: 270px;
  padding: 20px;
  background: #1a1a1a;
  border-right: 2px solid #333;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.control-panel button,
.control-panel select,
.control-panel label{
  width: 100%;
  font-size: 16px;
  font-family: Garamond, 'Times New Roman', Times, serif;
}

button{
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 8px; 
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.25s;
  font-weight: 600;
}

#animateBtn{
  background: #1aa1ad;
  border-color: white;
  color: white;
}

#animateBtn:hover{
  background: #53cdd8;
}

#resetBtn{
  background: #d62f75;
  border-color: white;
  color: white;
}
#resetBtn:hover{
  background: #f55c9c;
}

#toggleLightBtn{
  background: #f57627;
  color: white;
  border-color: white;
}

#toggleLightBtn:hover{
  background: #f29155;
}

select,
input[type=color],
input[type=range]{
  padding: 8px;
  border: 1px solid white;
  border-radius: 6px;
  background: #222;
  color: white;
}

canvas {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: block;
}
